/* animated cursor */

.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/**
 * my-brand
 */

.my-brand {
	font-weight: 300;
}


/**
 * big-hero
 */

.big-hero {
	height: 210px;
	margin-bottom: 25px;
}

.big-hero .lead {
	margin: 0px;
	font-weight: 300;
	font-size: 18px;
}

.big-hero .hero {
	margin: 0px;
	font-weight: 500;
	padding-top: 45px;
}


/**
 * single-post
 */

.single-post {
	/* background-color: pink; */
	padding: 3px;
	margin: 30px 0px;
	border-bottom: 2px dashed grey;
	padding-bottom: 20px;
}

.single-post .post-title {
	margin: 0px;
	/* color: grey; */
	font-size: 1.9em;
	font-weight: 400;
}

.single-post .post-meta * {
	font-size: 13px;
	color: #616161;
}

.single-post .post-meta .post-author {
	/* background-color: green; */
	display: inline-block;
}

.single-post .post-meta .post-author img {
	width: 23px;
	display: inline-block;
	float: left;
}

.single-post .post-meta .post-author h4 {
	margin: 0px;
	display: inline-block;
	margin-top: 6px;
	margin-left: 6px;
}

.single-post .post-meta .post-meta-item {
	/* background-color: pink; */
	display: inline-block;
	margin: 0px;
}

.single-post .post-meta .post-meta-item i {
	position: absolute;
	font-size: 18px;
}

.single-post .post-meta .post-meta-item .meta-content {
	margin-left: 20px;
}
